@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700;900&family=Karla:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}
button:hover{
  opacity: 0.8;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
  
}

.card{
  background-color: #e5e5e5;
  width: 20%;
  flex-basis: 20%;
  height: 500px;
  margin: 10px;
  border-radius: 25px;
  padding: 20px;
  box-shadow: -4px 4px 9px 0px rgba(153,151,151,0.75);
  transition: 0.5s;
}
.card--image{
  width: 100%;
  height: 50%;
  border-radius: 25px;
}
.card--details{
  padding: 10px;
}
.card--name{
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 10px;
}
.card--heading{
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 10px;
}
.card--price{
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.2rem;
}

.cart{
  background-color: black;
  width: 40px;
}
.card--cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.add--cart{
  background-color: aqua;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}
.card:hover{
  transform: scale(1.1) translateY(-10px);
}
.nav--bar{
  height: 60px;
  width: 100%;
}

.nav-toggle{
  margin-right: 30px;
  width:50px;
  height: 50px;
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.close{
  color: #fff;
  /* border: 1px solid #fff; */
}
.cart--container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:50vw;
  background-color:#111111;
  z-index: 100;
  transform: translateX(100%);
   transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.cart--open .cart--container {
  transform: translateX(0);
}
.cart--open .fa-cart-shopping{
  opacity: 0;
}


.cart--open .container{
  opacity: 0.5;

}

/* this is the cart section */

.cart--display{
 width: 100%;
 
}
.cart--name{
  text-align: center;
  padding: 40px;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;

}
.cart--data{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart--image{
  width: 80px;
  height: 80px;
}

.cart--data--name,
.cart--data--price,
.cart--quantity{
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}

.btn{
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color:#fff;
  width: 20px;
  height: 20px;
  margin: 0 3px;
}

.trash--can{
  background-color: red;
  border-radius: 3px;
  padding:15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.cart--line{
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 3px solid #fff;
  width: 90%;
  display: block;
  height: 0;
  padding: 0;
}


.clear--cart{
  padding: 15px 20px;
  background-color: red;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.cart--footer{
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.purchase--cart{
  padding: 15px 20px;
  background-color: rgb(33, 59, 225);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
}

.no--data{
  text-align: center;
  color: #fff;
  margin-top: 40%;
  font-weight: 700;
  font-size: 3rem;
}
